*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#imageContainer{

    position: relative;
    height: 400px;
    width: 1000px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

#upArrow{

    position: absolute;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#downArrow{

    position: absolute;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.fa-regular{
    font-size: 25px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.fa-regular:hover{
    color: black;
}

#thumbnails{
    position: relative;
    height: 100%;
    width: 200px;
    
    display: flex;
    flex-direction: column;
    
}

#image{
    width: 100%;
    object-fit: cover;
  }



.thumbStyle{
    border: 1px solid black;
    height: calc(100% /5);
    object-fit: cover;
    filter: opacity(0.8);
    
}

.active{
    filter: opacity(1);
    border: 1px solid green;
}
    
